.curved_edge_left {
    --c: 200px; /* control the curvature (works with percentage) */
    width: 800px;
    aspect-ratio: 2/3;
    /* you can also update the 60%  */
    mask: radial-gradient(var(--c) 60% at right,#0000 calc(100% - 1px),#000);
    background: white;
    border-radius: 10px;
    margin-right: -180px;
  }